@import url('./heroImage.css'); 
@import url('./cards.css');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.body-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Custom classes */
.max-w-120px {
  max-width: 120px;
}
.max-w-500px {
  max-width: 500px;
}
.max-w-800 {
  max-width: 800px;
}
.max-w-1100px {
  max-width: 1100px;
}
.max-w-1300px {
  max-width: 1300px;
}
.max-w-1400px {
  max-width: 1400px;
}

.w-25ch {
  width: 25ch;
}

.w-fit-content {
  width: fit-content;
}

.img-fluid {
  max-height: 500px;
  object-fit: cover; 
}
