@model TassarnasHusApi.Models.News

@{
    ViewData["Title"] = "Lägg till nyhet";
}

<div class="container max-w-1100px mx-auto">
    <h1 class="text-center my-5">@ViewData["Title"]</h1>
    <form class="w-100 max-w-800 mx-auto mb-5" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea rows=6 asp-for="Content" class="form-control">
            </textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageFile" class="control-label"></label>
            <input asp-for="ImageFile" class="form-control" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <div class="form-group text-center mt-5">
            <input type="submit" value="Lägg till" class="btn btn-success" />
        </div>
    </form>
    <div>
        <a class="btn btn-primary" asp-action="Index">Tillbaka till listan</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
